<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Creating post...</title>
</head>

<body>
<main layout:fragment="main">
    <div class="new-post-container">
        <h2>Create your post</h2>
        <form class="new-post-form" method="post" role="form" th:action="@{/post/new}" th:object="${post}">
            <div class="form-group">
                <label for="content">Content</label>
                <input
                        type="text"
                        class="form-control"
                        id="content"
                        name="content"
                        th:field="*{content}"
                        placeholder="Enter some text" >
                <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
            </div>
            <div class="form-group">
                <label for="photoUrl">photoUrl</label>
                <input
                        type="text"
                        class="form-control"
                        id="photoUrl"
                        name="photoUrl"
                        th:field="*{photoUrl}"
                        placeholder="Enter photo Url" >
                <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>
            </div>

            <button type="submit" class="new-post-button" >Create Post</button>
        </form>
    </div>
</main>
</body>
</html>