<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Posts</title>
    <style>
        .pagination-loader {
            text-align: center;
            color: #fff;
            font-weight: bold;
            display: none;
        }
    </style>
</head>
<body>
<main layout:fragment="main">
    <input id="user-id" type="hidden" th:value="${user.id}">

    <div th:if="${param.nofollow}" class="alert alert-success">
        <h2>You do not follow any one!</h2>
    </div>

    <div id="post-container">

    </div>


    <div id="loading" class="pagination-loader">
        <p>Loading...</p>
    </div>

</main>


</body>
</html>
