<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title th:text="${post.user.username}">post</title>
</head>

<body>
<main layout:fragment="main">
    <div class="feed-container">

        <div class="post">
            <div class="post-header">
                <a class="comment-user" th:href="@{/profile/{username}(username=${post.user.username})}">
                    <span class="username" th:text="${post.user.username}"></span>
                </a>
                <span class="date" th:text="${post.createdOn}"></span>
            </div>
            <img th:src="${post.photoUrl}" alt="Post image" class="post-image">
            <div class="post-description" th:text="${post.content}"></div>
            <div th:if="${user.id} == ${post.user.id}">
                <a class="login-button" th:href="@{/post/{postId}/edit(postId=${post.id})}">Edit</a>
                <a class="login-button" th:href="@{/post/{postId}/delete(postId=${post.id})}">Delete</a>
            </div>

            <div th:if="${#lists.contains(post.likes.![user.id], user.id)}">
                <button th:attr="onclick='likeHandler(' + ${post.id} + ')'" th:id="${post.id}">Liked</button>
            </div>
            <div th:unless="${#lists.contains(post.likes.![user.id], user.id)}">
                <button th:attr="onclick='likeHandler(' + ${post.id} + ')'" th:id="${post.id}">Like</button>
            </div>

            <div>Likes: <span th:id="'likes-number-' + ${post.id}" th:text="${#lists.size(post.likes)}"></span></div>

            <div class="coment-box" >

                <input type="hidden" th:id="'comment-user-' + ${post.id}" th:value="${user.id}">
                <input type="hidden" th:id="'comment-username-' + ${post.id}" th:value="${user.username}">
                <input type="text" class="comment-input" th:id="'comment-input-' + ${post.id}">
                <button th:attr="onclick='commentHandler(' + ${post.id} + ')'"> > </button>

                <div class="comments" th:id="'comments-' + ${post.id}">

                    <div  th:each="comment :${post.comments}">
                        <div class="comment" th:id="'comment-' + ${comment.id}">
                            <a class="comment-user" th:href="@{/profile/{username}(username=${comment.user.username})}" th:text="${comment.user.username}"></a>

                            <div th:if="${user.id == comment.user.id || user.id == post.user.id}">

                                <ul class="dropdown">
                                    <li><a th:attr="onclick='deleteCommentHandler(' + ${comment.id} + ')'">delete</a></li>
                                </ul>

                            </div>

                            <p class="comment-content" th:text="${comment.content}"></p>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</main>
</body>
</html>