<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title th:text="${userProfile.username}"></title>
</head>

<body>
<main layout:fragment="main">

    <div class="profile-box">

        <h3 class="profile-header" th:text="'@' + ${userProfile.username}"></h3>
        <div class="profile-follows">
            <div class="profile-follows-item">
                <h5>Followers:<span th:text="${followingsCount}" id="followersCount"></span></h5>
            </div>
            <div class="profile-follows-item">
                <h5 th:text="'Following: ' +${followersCount}"></h5>
            </div>



            <div class="follow-button-box" th:if="${user.id} != ${userProfile.id}">
                <span th:if="${follow}">
                    <button class="follow-button" th:attr="onclick=|followHandler('${userProfile.username}')|" th:id="followButton">Following</button>
                </span>
                <span th:unless="${follow}">
                    <button class="follow-button" th:attr="onclick=|followHandler('${userProfile.username}')|" th:id="followButton">Follow</button>
                </span>
            </div>
        </div>

    </div>


    <div class="feed-container" th:each="post :${posts}">
        <div class="post">
            <div class="post-header">
                <a class="comment-user username" th:href="@{/profile/{username}(username=${post.user.username})}">
                    @<span th:text="${post.user.username}"></span>
                </a>
                <span class="date" th:text="${post.createdOn}"></span>
            </div>
            <a th:href="@{/post/{postId}(postId=${post.id})}">
                <img th:src="${post.photoUrl}" alt="Post image" class="post-image">
            </a>
            <div class="post-description" >
                <a th:href="@{/profile/{username}(username=${post.user.username})}"><span style="font-weight: bold;" th:text="${post.user.username}"></span></a>
                <span th:text="${post.content}"></span>
            </div>

            <div class="like-box">

                <div class="like-item">
                    <div th:if="${#lists.contains(post.likes.![user.id], user.id)}">
                        <button class="like-button" th:attr="onclick='likeHandler(' + ${post.id} + ')'" th:id="${post.id}" name="liked">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Filled" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,
                            9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z"/>
                            </svg>
                        </button>
                    </div>
                    <div th:unless="${#lists.contains(post.likes.![user.id], user.id)}">
                        <button class="like-button" th:attr="onclick='likeHandler(' + ${post.id} + ')'" th:id="${post.id}" name="like">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Bold" viewBox="0 0 24 24">
                                <path d="M17.25,1.851A6.568,6.568,0,0,0,12,4.558,6.568,6.568,0,0,0,6.75,1.851,7.035,7.035,0,0,0,0,
                            9.126c0,4.552,4.674,9.425,8.6,12.712a5.29,5.29,0,0,0,6.809,0c3.922-3.287,8.6-8.16,8.6-12.712A7.035,
                            7.035,0,0,0,17.25,1.851ZM13.477,19.539a2.294,2.294,0,0,1-2.955,0C5.742,15.531,3,11.736,3,9.126A4.043,
                            4.043,0,0,1,6.75,4.851,4.043,4.043,0,0,1,10.5,9.126a1.5,1.5,0,0,0,3,0,4.043,4.043,0,0,1,3.75-4.275A4.043,
                            4.043,0,0,1,21,9.126C21,11.736,18.258,15.531,13.477,19.539Z"/>
                            </svg>
                        </button>
                    </div>

                    <div class="likes-number">
                        <span th:id="'likes-number-' + ${post.id}" th:text="${#lists.size(post.likes)}"></span>
                    </div>
                </div>

                <a class="like-item" th:href="@{/post/{postId}(postId=${post.id})}">
                    <div class="like-button">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Isolation_Mode" data-name="Isolation Mode" viewBox="0 0 24 24">
                            <path d="M24,24H12.017A12,12,0,1,1,24,11.246l0,.094ZM12.017,3a9,9,0,1,0,0,18H21V11.389A9.015,
                            9.015,0,0,0,12.017,3Z"/>
                        </svg>
                    </div>

                    <div class="likes-number">
                        <span th:text="${#lists.size(post.comments)}"></span>
                    </div>
                </a>
            </div>


        </div>

    </div>



</main>
</body>
</html>